.dropdown-menu {
  border: 0;
  border-radius: $border-radius;
  font-size: $font-size-base;
}

@include media-breakpoint-up(lg) {
  .dropdown-menu {
    box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
      0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);

    @include transition(all 0.2s ease-in-out);

    .dropdown & {
      visibility: hidden;
      display: block;
      top: 100% !important;

      @include transform-translate3d-y(-25px);
      @include opacity(0);
    }

    .dropdown.show &,
    &.open {
      visibility: visible;

      @include opacity(1);
      @include transform-translate3d-y(0px);
    }

    // Little diamond for dropdown menu
    &:before {
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      vertical-align: middle;
      content: '';
      top: -5px;
      left: 56px;
      right: auto;
      color: $white;
      border-bottom: 0.4em solid;
      border-right: 0.4em solid transparent;
      border-left: 0.4em solid transparent;
    }
  }
}
