.image-font {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 3px;
  color: #fdfdfd;

  @media (max-width: 1200px) {
    font-size: 5vw;
  }

  @media (max-width: 1040px) {
    font-size: 4vw;
  }

  @media (max-width: 768px) {
    font-size: 10vw;
  }

  @media (min-width: 500px) and (min-height: 900px) {
    font-size: 12vw;
  }
}

.sliding-text {
  color: white;
  min-height: 40px;
}

.title {
  margin-bottom: 1.5rem;
}

.description {
  margin-right: auto;
  color: $gray-600;
}
